# Question 1

In [3]:
import requests
from bs4 import BeautifulSoup

In [4]:
url = "https://en.wikipedia.org/wiki/Main_Page"

In [5]:
page = requests.get(url)

In [6]:
page

In [7]:
soup = BeautifulSoup(page.content)

In [8]:
headertags = []
for i in soup.find_all("span",class_="mw-headline"):
    headertags.append(i.text)

    
    
    
headertags

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame({'Header tags':headertags})
df

                     Header tags
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

# Question 2

In [11]:
import requests
from bs4 import BeautifulSoup

In [12]:
url = "https://presidentofindia.nic.in/former-presidents.htm"

In [13]:
page = requests.get(url)

page

In [14]:
soup = BeautifulSoup(page.content)

In [6]:
names = []
for i in soup.find_all("h3"):
    names.append(i.text)

    
    
names

['Shri Ram Nath Kovind (birth - 1945)',
 'Shri Pranab Mukherjee (1935-2020)',
 'Smt Pratibha Devisingh Patil (birth - 1934)',
 'DR. A.P.J. Abdul Kalam (1931-2015)',
 'Shri K. R. Narayanan (1920 - 2005)',
 'Dr Shankar Dayal Sharma (1918-1999)',
 'Shri R Venkataraman (1910-2009)',
 'Giani Zail Singh (1916-1994)',
 'Shri Neelam Sanjiva Reddy (1913-1996)',
 'Dr. Fakhruddin Ali Ahmed (1905-1977)',
 'Shri Varahagiri Venkata Giri (1894-1980)',
 'Dr. Zakir Husain (1897-1969)',
 'Dr. Sarvepalli Radhakrishnan (1888-1975)',
 'Dr. Rajendra Prasad (1884-1963) ']

In [10]:
terms = []
for i in soup.find_all("div",class_="presidentListing"):

     terms.append(i.find_all("p")[0].text.split(":")[1])

In [25]:
terms

[' 25 July, 2017 to 25 July, 2022 ',
 ' 25 July, 2012 to 25 July, 2017 ',
 ' 25 July, 2007 to 25 July, 2012 ',
 ' 25 July, 2002 to 25 July, 2007 ',
 ' 25 July, 1997 to 25 July, 2002 ',
 ' 25 July, 1992 to 25 July, 1997 ',
 ' 25 July, 1987 to 25 July, 1992 ',
 ' 25 July, 1982 to 25 July, 1987 ',
 ' 25 July, 1977 to 25 July, 1982 ',
 ' 24 August, 1974 to 11 February, 1977',
 ' 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 ' 13 May, 1967 to 3 May, 1969',
 ' 13 May, 1962 to 13 May, 1967',
 ' 26 January, 1950 to 13 May, 1962']

In [30]:
import pandas as pd

In [33]:
df = pd.DataFrame ({'Name of the president':names,'Term of office':terms})
df

,Name of the president,Term of office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

# Question 3
## a)

In [15]:
import requests
from bs4 import BeautifulSoup

In [16]:
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

In [17]:
page = requests.get(url)

In [18]:
page

In [19]:
soup = BeautifulSoup(page.content)

In [20]:
teams = []
for i in soup.find_all("span",class_="u-hide-phablet"):
    teams.append(i.text)

In [21]:
top_10_teams = teams[:10]

top_10_teams

['Australia',
 'Pakistan',
 'India',
 'New Zealand',
 'England',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'Afghanistan',
 'West Indies']

In [22]:
match_1 = []
for i in soup.find_all("td",class_="rankings-block__banner--matches"):
    match_1.append(i.text)

    
match_1

['23']

In [23]:
match_rest = []
for i in soup.find_all("td",class_="table-body__cell u-center-text"):
    match_rest.append(i.text)

In [24]:
match_rest1 = [match_rest[i] for i in range(len(match_rest)) if i % 2 == 0]

print(match_rest1)

['20', '33', '27', '24', '19', '25', '28', '13', '32', '27', '30', '22', '38', '24', '29', '28', '21', '39', '28']

In [25]:
match_rest9 = match_rest1[:9]
match_rest9

['20', '33', '27', '24', '19', '25', '28', '13', '32']

In [26]:
matches = match_1 + match_rest9

In [27]:
matches

['23', '20', '33', '27', '24', '19', '25', '28', '13', '32']

In [28]:
point_1 = []
for i in soup.find_all("td",class_="rankings-block__banner--points"):
    point_1.append(i.text)

    
point_1

['2,714']

In [29]:
point_rest = []
for i in soup.find_all("td",class_="table-body__cell u-center-text"):
    point_rest.append(i.text)
    
point_rest1 = [point_rest[i] for i in range(len(point_rest)) if i % 2 != 0]

point_rest9 = point_rest1[:9]

points = point_1 + point_rest9

In [30]:
points

['2,714',
 '2,316',
 '3,807',
 '2,806',
 '2,426',
 '1,910',
 '2,451',
 '2,378',
 '1,067',
 '2,201']

In [31]:
rating_1 = []
for i in soup.find_all("td",class_="rankings-block__banner--rating u-text-right"):
    rating_1.append(i.text)
    
rating_1 = [element.strip() for element in rating_1]
    
rating_1

['118']

In [32]:
rating_rest = []
for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    rating_rest.append(i.text)

In [33]:
rating_rest

['116',
 '115',
 '104',
 '101',
 '101',
 '98',
 '85',
 '82',
 '69',
 '57',
 '48',
 '40',
 '35',
 '34',
 '29',
 '29',
 '25',
 '14',
 '4']

In [34]:
rating_rest9 = rating_rest[:9]

In [35]:
ratings = rating_1 + rating_rest9

In [36]:
ratings

['118', '116', '115', '104', '101', '101', '98', '85', '82', '69']

In [37]:
import pandas as pd

In [38]:
df = pd.DataFrame({'Name of the team':top_10_teams,'Matches':matches,'Points':points,'Rating':ratings})

df

  Name of the team Matches Points Rating
0        Australia      23  2,714    118
1         Pakistan      20  2,316    116
2            India      33  3,807    115
3      New Zealand      27  2,806    104
4          England      24  2,426    101
5     South Africa      19  1,910    101
6       Bangladesh      25  2,451     98
7        Sri Lanka      28  2,378     85
8      Afghanistan      13  1,067     82
9      West Indies      32  2,201     69

## b)

In [39]:
import requests
from bs4 import BeautifulSoup

In [40]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"

In [41]:
page = requests.get(url)

page

In [42]:
soup = BeautifulSoup(page.content)

In [43]:
batsman_1 = []
for i in soup.find_all("div",class_="rankings-block__banner--name-large"):
    batsman_1.append(i.text)

In [44]:
batsman_1

['Babar Azam']

In [45]:
batsmen_rest = []
for i in soup.find_all("td",class_="table-body__cell rankings-table__name name"):
    batsmen_rest.append(i.text)

In [46]:
batsmen_rest9 = batsmen_rest[:9]

In [47]:
batsmen_rest9 = [element.strip()for element in batsmen_rest9]

In [48]:
batsmen = batsman_1 + batsmen_rest9

In [49]:
batsmen

['Babar Azam',
 'Rassie van der Dussen',
 'Fakhar Zaman',
 'Imam-ul-Haq',
 'Shubman Gill',
 'Harry Tector',
 'David Warner',
 'Virat Kohli',
 'Quinton de Kock',
 'Rohit Sharma']

In [50]:
team_1 = []
for i in soup.find_all("div",class_="rankings-block__banner--nationality"):
    team_1.append(i.text)
    
team_1 = [element.strip() for element in team_1]

In [51]:
team_1

['PAK']

In [52]:
team_rest = []
for i in soup.find_all("span",class_="table-body__logo-text"):
    team_rest.append(i.text)

In [53]:
team_rest9 = team_rest[:9]

In [54]:
teams = team_1 + team_rest9

In [55]:
teams

['PAK', 'SA', 'PAK', 'PAK', 'IND', 'IRE', 'AUS', 'IND', 'SA', 'IND']

In [56]:
rating_1 = []
for i in soup.find_all("div",class_="rankings-block__banner--rating"):
    rating_1.append(i.text)

In [127]:
rating_1

['886']

In [128]:
rating_rest = []
for i in soup.find_all("td",class_="table-body__cell rating"):
    rating_rest.append(i.text)

In [131]:
rating_rest9 = rating_rest[:9]
rating = rating_1 + rating_rest9

In [132]:
rating

['886', '777', '755', '745', '738', '726', '726', '719', '718', '707']

In [133]:
import pandas as pd

In [134]:
df = pd.DataFrame({"Batsmen":batsmen,"Teams":teams,"Rating":ratings})
df

                 Batsmen Teams Rating
0             Babar Azam   PAK    118
1  Rassie van der Dussen    SA    116
2           Fakhar Zaman   PAK    115
3            Imam-ul-Haq   PAK    104
4           Shubman Gill   IND    101
5           Harry Tector   IRE    101
6           David Warner   AUS     98
7            Virat Kohli   IND     85
8        Quinton de Kock    SA     82
9           Rohit Sharma   IND     69

# c)

In [58]:
import requests as requests
from bs4 import BeautifulSoup

In [59]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"

In [60]:
page = requests.get(url)

In [61]:
page

In [62]:
soup = BeautifulSoup(page.content)

In [146]:
bowler_1 = []
for i in soup.find_all("div",class_="rankings-block__banner--name-large"):
    bowler_1.append(i.text)

In [147]:
bowler_1

['Josh Hazlewood']

In [154]:
bowler_rest =[]
for i in soup.find_all("td",class_="table-body__cell rankings-table__name name"):
    bowler_rest.append(i.text)
    
bowler_rest = [elements.strip() for elements in bowler_rest]

bowler_rest9 = bowler_rest[:9]

bowlers = bowler_1 + bowler_rest9

In [155]:
bowlers

['Josh Hazlewood',
 'Mohammed Siraj',
 'Mitchell Starc',
 'Matt Henry',
 'Trent Boult',
 'Adam Zampa',
 'Rashid Khan',
 'Shaheen Afridi',
 'Mujeeb Ur Rahman',
 'Mohammad Nabi']

In [157]:
team_1 = []
for i in soup.find_all("div",class_="rankings-block__banner--nationality"):
    team_1.append(i.text)
team_1

['\n\nAUS\n                    ']

In [158]:
team_1 = [elements.strip()for elements in team_1]

In [159]:
team_1

['AUS']

In [162]:
team_rest = []
for i in soup.find_all("span",class_="table-body__logo-text"):
    team_rest.append(i.text)

team_rest9 = team_rest[:9]
teams = team_1 + team_rest9

In [163]:
teams

['AUS', 'IND', 'AUS', 'NZ', 'NZ', 'AUS', 'AFG', 'PAK', 'AFG', 'AFG']

In [166]:
rating_1 = []
for i in soup.find_all("div",class_="rankings-block__banner--rating"):
    rating_1.append(i.text)

In [167]:
rating_1

['705']

In [169]:
rating_rest = []
for i in soup.find_all("td",class_="table-body__cell rating"):
    rating_rest.append(i.text)

rating_rest9 = rating_rest[:9]

rating = rating_1 + rating_rest9

In [170]:
rating

['705', '691', '686', '667', '660', '652', '640', '630', '630', '626']

In [171]:
import pandas as pd

In [172]:
df = pd.DataFrame({"Bowlers":bowlers,"Teams":teams,"Rating":rating})
df

            Bowlers Teams Rating
0    Josh Hazlewood   AUS    705
1    Mohammed Siraj   IND    691
2    Mitchell Starc   AUS    686
3        Matt Henry    NZ    667
4       Trent Boult    NZ    660
5        Adam Zampa   AUS    652
6       Rashid Khan   AFG    640
7    Shaheen Afridi   PAK    630
8  Mujeeb Ur Rahman   AFG    630
9     Mohammad Nabi   AFG    626

# Question 4

## a)

In [63]:
import requests as requests
from bs4 import BeautifulSoup

In [64]:
url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"

In [65]:
page = requests.get(url)
page

In [66]:
soup = BeautifulSoup(page.content)

In [200]:
team_all = []
for i in soup.find_all("span",class_="u-hide-phablet"):
    team_all.append(i.text)
    
teams = team_all[:10]

In [201]:
teams

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Sri Lanka',
 'Thailand',
 'Pakistan']

In [202]:
match_1 = []
for i in soup.find_all("td",class_="rankings-block__banner--matches"):
    match_1.append(i.text)

In [203]:
match_1

['21']

In [209]:
match_Rest =[]
for i in soup.find_all("td",class_="table-body__cell u-center-text"):
    match_rest.append(i.text)

match_rest1 = [match_rest[i] for i in range(len(match_rest)) if i % 2 == 0]

match_rest9 = match_rest1[:9]

In [210]:
matches = match_1 + match_rest9

In [211]:
matches

['21', '20', '33', '27', '24', '19', '25', '28', '13', '32']

In [212]:
point_1 = []
for i in soup.find_all("td",class_="rankings-block__banner--points"):
    point_1.append(i.text)

In [213]:
point_1

['3,603']

In [215]:
point_rest = []
for i in soup.find_all("td",class_="table-body__cell u-center-text"):
    point_rest.append(i.text)

point_rest1 = [point_rest[i]for i in range(len(point_rest))if i % 2 != 0]

point_rest9 = point_rest1[:9]

points = point_1 + point_rest9

In [216]:
points

['3,603',
 '3,342',
 '3,098',
 '2,820',
 '2,688',
 '2,743',
 '977',
 '820',
 '806',
 '1,678']

In [218]:
rating_1 = []
for i in soup.find_all("td",class_="rankings-block__banner--rating u-text-right"):
    rating_1.append(i.text)
rating_1

['\n                            172\n                            \n\n']

In [220]:
rating_1 = [elements.strip()for elements in rating_1]

In [221]:
rating_1

['172']

In [223]:
rating_rest = []
for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    rating_rest.append(i.text)

rating_rest9 = rating_rest[:9]
rating = rating_1 + rating_rest9

In [224]:
rating

['172', '119', '119', '104', '96', '95', '70', '68', '67', '62']

In [225]:
import pandas as pd

In [226]:
df = pd.DataFrame({"Teams":teams,"Matches":matches,"Points":points,"Rating":rating})
df

          Teams Matches Points Rating
0     Australia      21  3,603    172
1       England      20  3,342    119
2  South Africa      33  3,098    119
3         India      27  2,820    104
4   New Zealand      24  2,688     96
5   West Indies      19  2,743     95
6    Bangladesh      25    977     70
7     Sri Lanka      28    820     68
8      Thailand      13    806     67
9      Pakistan      32  1,678     62

## b)

In [67]:
import requests as requests
from bs4 import BeautifulSoup

In [68]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"

In [69]:
page = requests.get(url)
page

In [70]:
soup = BeautifulSoup(page.content)

In [232]:
player_1 = []
for i in soup.find_all("div",class_="rankings-block__banner--name-large"):
    player_1.append(i.text)

In [233]:
player_1

['Chamari Athapaththu']

In [239]:
player_rest = []
for i in soup.find_all("td",class_="table-body__cell rankings-table__name name"):
    player_rest.append(i.text)
    
player_rest9 = player_rest[:9]
player_rest9 = [elements.strip()for elements in player_rest9]
players = player_1 + player_rest9

In [240]:
players

['Chamari Athapaththu',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Meg Lanning',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Tammy Beaumont']

In [245]:
team_1 = []
for i in soup.find_all("div",class_="rankings-block__banner--nationality"):
    team_1.append(i.text)
    
team_1 = [elements.strip()for elements in team_1]

In [247]:
team_1

['SL']

In [252]:
team_rest = []
for i in soup.find_all ("span",class_="table-body__logo-text"):
    team_rest.append(i.text)
    
team_rest9 = team_rest[:9]
teams = team_1 + team_rest9

In [253]:
teams

['SL', 'AUS', 'SA', 'ENG', 'AUS', 'IND', 'IND', 'AUS', 'WI', 'ENG']

In [256]:
rating_1 = []
for i in soup.find_all ("div",class_="rankings-block__banner--rating"):
    rating_1.append(i.text)

In [257]:
rating_1

['758']

In [260]:
rating_rest = []
for i in soup.find_all("td",class_="table-body__cell rating"):
    rating_rest.append(i.text)

rating_rest9 = rating_rest[:9]
rating = rating_1 + rating_rest9

In [261]:
rating

['758', '754', '732', '731', '717', '716', '714', '626', '618', '595']

In [263]:
import pandas as pd

In [264]:
df = pd.DataFrame({"PLAYERS":players,"MATCHES":matches,"POINTS":points,"RATING":rating})
df

               PLAYERS MATCHES POINTS RATING
0  Chamari Athapaththu      21  3,603    758
1          Beth Mooney      20  3,342    754
2      Laura Wolvaardt      33  3,098    732
3       Natalie Sciver      27  2,820    731
4          Meg Lanning      24  2,688    717
5     Harmanpreet Kaur      19  2,743    716
6      Smriti Mandhana      25    977    714
7         Ellyse Perry      28    820    626
8      Stafanie Taylor      13    806    618
9       Tammy Beaumont      32  1,678    595

## c)

In [71]:
import requests as requests
from bs4 import BeautifulSoup

In [72]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"

In [73]:
page = requests.get(url)
page

In [74]:
soup = BeautifulSoup(page.content)

In [270]:
player_1 = []
for i in soup.find_all("div",class_="rankings-block__banner--name-large"):
    player_1.append(i.text)

In [271]:
player_1

['Hayley Matthews']

In [273]:
player_rest = []
for i in soup.find_all("td",class_="table-body__cell rankings-table__name name"):
    player_rest.append(i.text)

player_rest = [elements.strip()for elements in player_rest]
player_rest9 = player_rest[:9]
players = player_1 + player_rest9

In [274]:
players

['Hayley Matthews',
 'Natalie Sciver',
 'Ellyse Perry',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Sophie Devine',
 'Nida Dar']

In [276]:
team_1 = []
for i in soup.find_all("div",class_="rankings-block__banner--nationality"):
    team_1.append(i.text)

In [277]:
team_1

['\n\nWI\n                    ']

In [278]:
team_1 = [elements.strip()for elements in team_1]

In [279]:
team_1

['WI']

In [281]:
team_rest = []
for i in soup.find_all("span",class_="table-body__logo-text"):
    team_rest.append(i.text)

team_rest9 = team_rest[:9]
teams = team_1 + team_rest9

In [282]:
teams

['WI', 'ENG', 'AUS', 'SA', 'NZ', 'IND', 'AUS', 'AUS', 'NZ', 'PAK']

In [285]:
rating_1 = []
for i in soup.find_all("div",class_="rankings-block__banner--rating"):
    rating_1.append(i.text)

In [286]:
rating_1

['382']

In [288]:
rating_rest = []
for i in soup.find_all("td",class_="table-body__cell rating"):
    rating_rest.append(i.text)

rating_rest9 = rating_rest[:9]
rating = rating_1 + rating_rest9

In [289]:
rating

['382', '371', '366', '349', '328', '322', '292', '250', '233', '232']

In [291]:
import pandas as pd

In [293]:
df = pd.DataFrame({"WOMEN ALL-ROUNDER":players,"TEAMS":teams,"RATING":rating})
df

  WOMEN ALL-ROUNDER TEAMS RATING
0   Hayley Matthews    WI    382
1    Natalie Sciver   ENG    371
2      Ellyse Perry   AUS    366
3    Marizanne Kapp    SA    349
4       Amelia Kerr    NZ    328
5     Deepti Sharma   IND    322
6  Ashleigh Gardner   AUS    292
7     Jess Jonassen   AUS    250
8     Sophie Devine    NZ    233
9          Nida Dar   PAK    232

# Question 6

In [75]:
import requests as requests
from bs4 import BeautifulSoup

In [76]:
url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"

In [77]:
page = requests.get(url)
page

In [78]:
soup = BeautifulSoup(page.content)

In [6]:
title = []
for i in soup.find_all("h2",class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    title.append(i.text)

In [7]:
title

['Reward is enough',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Creativity and artificial intelligence',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Knowledge graphs as tools for explainable machine learning: A survey',
 'Law and logic: A review from an argumentation perspective',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'Multiple object tracking: A literature review',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Explainable AI tools for legal reasoning about cases: A study on the European Court of Human Rights',
 'Hard choices in artificial intelligence',
 'Assessing the communication gap between AI models and healthcare professionals: Explainability, utility and trust in AI-driven clinical decision-making',
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'The Hanabi challenge: A new frontier for AI research',
 'Wrappers for feature subset selection',
 'Artificial cognition for social human–robot interaction: An implementation',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'The multifaceted impact of Ada Lovelace in the digital age',
 'Robot ethics: Mapping the issues for a mechanized world',
 'Reward (Mis)design for autonomous driving',
 'Planning and acting in partially observable stochastic domains',
 'What do we want from Explainable Artificial Intelligence (XAI)? – A stakeholder perspective on XAI and a conceptual model guiding interdisciplinary XAI research']

In [13]:
author = []
for i in soup.find_all("span",class_="sc-1w3fpd7-0 dnCnAO"):
    author.append(i.text)

In [14]:
author

['David Silver, Satinder Singh, Doina Precup, Richard S. Sutton ',
 'Tim Miller ',
 'Margaret A. Boden ',
 'Guni Sharon, Roni Stern, Ariel Felner, Nathan R. Sturtevant ',
 'Ilaria Tiddi, Stefan Schlobach ',
 'Henry Prakken, Giovanni Sartor ',
 'Richard S. Sutton, Doina Precup, Satinder Singh ',
 'Kjersti Aas, Martin Jullum, Anders Løland ',
 'Wenhan Luo, Junliang Xing and 4 more',
 'Saurabh Arora, Prashant Doshi ',
 'Jasper van der Waa, Elisabeth Nieuwburg, Anita Cremers, Mark Neerincx ',
 'Joe Collenette, Katie Atkinson, Trevor Bench-Capon ',
 'Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz ',
 'Oskar Wysocki, Jessica Katharine Davies and 5 more',
 'Eoin M. Kenny, Courtney Ford, Molly Quinn, Mark T. Keane ',
 'Nolan Bard, Jakob N. Foerster and 13 more',
 'Ron Kohavi, George H. John ',
 'Séverin Lemaignan, Mathieu Warnier and 3 more',
 'Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz ',
 'Luigia Carlucci Aiello ',
 'Patrick Lin, Keith Abney, George Bekey ',
 'W. Bradley Knox, Alessandro Allievi and 3 more',
 'Leslie Pack Kaelbling, Michael L. Littman, Anthony R. Cassandra ',
 'Markus Langer, Daniel Oster and 6 more']

In [15]:
date = []
for i in soup.find_all("span",class_="sc-1thf9ly-2 dvggWt"):
    date.append(i.text)
date

['October 2021',
 'February 2019',
 'August 1998',
 'February 2015',
 'January 2022',
 'October 2015',
 'August 1999',
 'September 2021',
 'April 2021',
 'August 2021',
 'February 2021',
 'April 2023',
 'November 2021',
 'March 2023',
 'May 2021',
 'March 2020',
 'December 1997',
 'June 2017',
 'June 2021',
 'June 2016',
 'April 2011',
 'March 2023',
 'May 1998',
 'July 2021']

In [24]:
url = []
for i in soup.find_all("a",class_="sc-5smygv-0 fIXTHm"):
    url.append(i.get('href'))
url

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370221001788',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370223000073',
 'https://www.sciencedirect.com/science/article/pii/S0004370221001065',
 'https://www.sciencedirect.com/science/article/pii/S0004370222001795',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300224',
 'https://www.sciencedirect.com/science/article/pii/S0004370211000178',
 'https://www.sciencedirect.com/science/article/pii/S0004370222001692',
 'https://www.sciencedirect.com/science/article/pii/S000437029800023X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000242']

In [25]:
import pandas as pd

In [26]:
df = pd.DataFrame({"Paper Title":title,"Authors":author,"Published Date":date,"Paper Url":url})
df

,Paper Title,Authors,Published Date,Paper Url
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

# Question 7

In [79]:
import requests as requests
from bs4 import BeautifulSoup

In [80]:
url = "https://www.dineout.co.in/delhi-restaurants/buffet-special"

In [81]:
page = requests.get(url)
page

In [82]:
soup = BeautifulSoup(page.content)

In [83]:
name = []
for i in soup.find_all("a",class_="restnt-name ellipsis"):
    name.append(i.text)
name

['Castle Barbeque',
 'Jungle Jamboree',
 'Cafe Knosh',
 "Castle's Barbeque",
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'Indian Grill Room']

In [37]:
cuisine = []
for i in soup.find_all("span",class_="double-line-ellipsis"):
    cuisine.append(i.text.split('|')[1])
    
cuisine

[' Chinese, North Indian',
 ' North Indian, Asian, Italian',
 ' Italian, Continental',
 ' Chinese, North Indian',
 ' North Indian, Chinese',
 ' North Indian, Italian',
 ' North Indian',
 ' North Indian',
 ' North Indian, Mughlai']

In [40]:
location = []
for i in soup.find_all("div",class_="restnt-loc ellipsis"):
    location.append(i.text)
location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon']

In [42]:
rating = []
for i in soup.find_all("div",class_="restnt-rating rating-4"):
    rating.append(i.text)
rating

['4', '3.9', '4.3', '3.9', '3.9', '3.9', '3.7', '3.8', '4.3']

In [44]:
img_url = []
for i in soup.find_all("img",class_="no-img"):
    img_url.append(i.get('data-src'))
img_url

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

In [47]:
import pandas as pd

In [48]:
df = pd.DataFrame({"Restaurant name":name,"Cuisine":cuisine,"Location":location,"Ratings":rating,"Image URL":img_url})
df

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle's Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

# Question 5

In [93]:
import requests as requests
from bs4 import BeautifulSoup

In [94]:
url = "https://www.cnbc.com/world/?region=world"

In [95]:
page = requests.get(url)
page

In [96]:
soup = BeautifulSoup(page.content)

In [97]:
headline = []
for i in soup.find_all("a",class_="LatestNews-headline"):
    headline.append(i.text)
headline

['Chris Christie doubles down on Trump attacks and Social Security cuts',
 "Cohabitating after separating is not uncommon: Here's why it can be successful  ",
 "GOP presidential candidate Burgum says he doesn't want to engage in 'every culture war topic'",
 "Yellen had a 'constructive visit' to China with opportunities for 'more frequent contacts' in the future, she says",
 "Jim Cramer calls for 'buy and homework' over 'buy and hold': What does he mean?",
 'How a 28-year-old in Norway prepares for a required 3-week summer vacation',
 '10 rules of ikigai, from authors of the Japanese ‘secret’ for longevity',
 '5 low-stress summer jobs that are hiring right now—many pay over $20 an hour',
 'Americans need to earn over $230,000 a year to feel secure, survey finds',
 'Bill Gates says Warren Buffett taught him how to value free time',
 'Now Boarding: Why is boarding an airplane so difficult?',
 'These stocks that are about to turn a profit should outperform, Jefferies says',
 'Earnings playbook: JPMorgan Chase and Delta Air Lines kick off the season',
 "Yellen says Beijing talks a step forward in putting U.S.-China ties on 'surer footing'",
 'U.S. soccer star Megan Rapinoe announces retirement ',
 'How to start a pet-sitting side hustle—you could make as much as $40 per hour',
 '3 things to pay attention to in the markets this coming week',
 'These U.S. states have the best and the worst tap water',
 "The No. 1 vitamin kids in the U.S. 'aren't getting enough of' today: Dietitian and parenting expert",
 'How the generative A.I. boom could forever change online advertising',
 'The 10 U.S. cities where rent has increased the most in the last year',
 "As 'bougie broke' videos trend, here's why experts say that's not a bad thing",
 'The Fed rolls out a new economic index that could have big implications',
 "Active funds are powering JPMorgan's ETFs past rivals — Why it may continue",
 'Micron and Pfizer are the most oversold S&P 500 stocks. Here are the others',
 "Medicare will pay for Alzheimer's drug Leqembi. What patients, doctors should know",
 'Buy Buy Baby auction is canceled, but buyers are still interested in making a bid',
 "Elon Musk's Twitter sues top law firm Wachtell over $90 million fee ",
 "Biogen falls after Alzheimer’s drug approval. Here's what the pros are saying",
 "Justin Bieber's Bored Ape NFT has lost about 95% of its value since 2022"]

In [98]:
time = []
for i in soup.find_all("time",class_="LatestNews-timestamp"):
    time.append(i.text)
time

['59 Min Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '3 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '6 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '13 Hours Ago',
 '24 Hours Ago',
 'July 8, 2023',
 'July 8, 2023',
 'July 8, 2023',
 'July 8, 2023',
 'July 8, 2023',
 'July 8, 2023',
 'July 8, 2023',
 'July 8, 2023',
 'July 8, 2023',
 'July 8, 2023',
 'July 8, 2023',
 'July 7, 2023',
 'July 7, 2023',
 'July 7, 2023',
 'July 7, 2023']

In [99]:
link = []
for i in soup.find_all("a",class_="LatestNews-headline"):
    link.append(i.get('href'))
link

['https://www.cnbc.com/2023/07/09/chris-christie-on-trump-attacks-and-social-security-cuts.html',
 'https://www.cnbc.com/2023/07/09/marriage-therapist-cohabitating-after-separating-is-not-uncommon.html',
 'https://www.cnbc.com/2023/07/09/republican-candidate-doug-burgum-interview-meet-the-press-culture-issues-china.html',
 'https://www.cnbc.com/2023/07/09/yellen-had-a-constructive-visit-to-china-with-opportunities-for-more-frequent-contacts-in-the-future-she-says.html',
 'https://www.cnbc.com/2023/07/09/cramer-advises-buy-and-homework-over-buy-and-hold-what-that-means.html',
 'https://www.cnbc.com/2023/07/09/how-a-norway-28-year-old-prepares-for-required-3-week-summer-vacation.html',
 'https://www.cnbc.com/2023/07/09/10-rules-of-ikigai-from-authors-of-the-japanese-secret-for-longevity.html',
 'https://www.cnbc.com/2023/07/09/5-low-stress-summer-jobs-that-are-hiring-nowmany-pay-over-20-an-hour.html',
 'https://www.cnbc.com/2023/07/09/salary-americans-need-to-feel-financially-secure.html',
 'https://www.cnbc.com/2023/07/09/bill-gates-says-warren-buffett-taught-him-how-to-value-free-time.html',
 'https://www.cnbc.com/2023/07/09/now-boarding-why-is-boarding-an-airplane-so-difficult.html',
 'https://www.cnbc.com/2023/07/09/these-stocks-that-are-about-to-turn-a-profit-should-beat-the-market-jefferies-says.html',
 'https://www.cnbc.com/2023/07/09/earnings-playbook-jpmorgan-chase-and-delta-air-lines-kick-off-the-season.html',
 'https://www.cnbc.com/2023/07/09/janet-yellen-comments-on-us-china-relations-during-beijing-visit-.html',
 'https://www.cnbc.com/2023/07/08/us-soccer-star-megan-rapinoe-announces-retirement-.html',
 'https://www.cnbc.com/2023/07/08/how-to-start-a-side-hustle-as-a-pet-sitter-.html',
 'https://www.cnbc.com/2023/07/08/3-things-to-pay-attention-to-in-the-markets-this-coming-week.html',
 'https://www.cnbc.com/2023/07/08/best-and-worst-tap-water-states-j-d-power-study.html',
 'https://www.cnbc.com/2023/07/08/no-1-nutrient-vitamin-american-kids-today-arent-getting-enough-of-according-to-dietitian-parenting-expert.html',
 'https://www.cnbc.com/2023/07/08/how-the-generative-ai-boom-could-forever-change-online-advertising.html',
 'https://www.cnbc.com/2023/07/08/us-cities-where-rent-has-increased-the-most.html',
 'https://www.cnbc.com/2023/07/08/as-bougie-broke-videos-trend-experts-say-thats-not-a-bad-thing.html',
 'https://www.cnbc.com/2023/07/08/the-fed-has-rolled-out-a-new-index-for-gauging-the-economy-that-could-have-big-implications.html',
 'https://www.cnbc.com/2023/07/08/active-funds-are-powering-jpmorgans-etfs-past-rivals-heres-why-it-may-continue.html',
 'https://www.cnbc.com/2023/07/08/micron-and-pfizer-are-the-most-oversold-sp-500-stocks-here-are-the-other-buying-opportunities.html',
 'https://www.cnbc.com/2023/07/08/leqembi-and-medicare-what-patients-and-doctors-should-know.html',
 'https://www.cnbc.com/2023/07/07/buy-buy-baby-auction-canceled-bidders-still-interested.html',
 'https://www.cnbc.com/2023/07/07/elon-musks-twitter-sues-top-law-firm-wachtell-over-90-million-fee-.html',
 'https://www.cnbc.com/2023/07/07/biogen-falls-after-alzheimers-drug-approval-what-the-pros-are-saying.html',
 'https://www.cnbc.com/2023/07/07/justin-biebers-bored-ape-nft-has-lost-95-percent-of-its-value-since-2022.html']

In [100]:
import pandas as pd

In [92]:
df = pd.DataFrame({"Headline":headline,"Time":time,"News Link":link})
df

,Headline,Time,News Link
0,Chris Christie doubles down on Trump attacks a...,59 Min Ago,https://www.cnbc.com/2023/07/09/chris-christie...
1,Cohabitating after separating is not uncommon:...,2 Hours Ago,https://www.cnbc.com/2023/07/09/marriage-thera...
2,GOP presidential candidate Burgum says he does...,2 Hours Ago,https://www.cnbc.com/2023/07/09/republican-can...
3,Yellen had a 'constructive visit' to China wit...,3 Hours Ago,https://www.cnbc.com/2023/07/09/yellen-had-a-c...
4,Jim Cramer calls for 'buy and homework' over '...,4 Hours Ago,https://www.cnbc.com/2023/07/09/cramer-advises...
5,How a 28-year-old in Norway prepares for a req...,4 Hours Ago,https://www.cnbc.com/2023/07/09/how-a-norway-2...
6,"10 rules of ikigai, from authors of the Japane...",4 Hours Ago,https://www.cnbc.com/2023/07/09/10-rules-of-ik...
7,5 low-stress summer jobs that are hiring right...,4 Hours Ago,https://www.cnbc.com/2023/07/09/5-low-stress-s...
8,"Americans need to earn over $230,000 a year to...",5 Hours Ago,https://www.cnbc.com/2023/07/09/salary-america...
9,Bill Gates says Warren Buffett taught him how ...,5 Hours Ago,https://www.cnbc.com/2023/07/09/bill-gates-say...
10,Now Boarding: Why is boarding an airplane so d...,6 Hours Ago,https://www.cnbc.com/2023/07/09/now-boarding-w...
11,These stocks that are about to turn a profit s...,7 Hours Ago,https://www.cnbc.com/2023/07/09/these-stocks-t...
12,Earnings playbook: JPMorgan Chase and Delta Ai...,7 Hours Ago,https://www.cnbc.com/2023/07/09/earnings-playb...
13,Yellen says Beijing talks a step forward in pu...,13 Hours Ago,https://www.cnbc.com/2023/07/09/janet-yellen-c...
14,U.S. soccer star Megan Rapinoe announces retir...,24 Hours Ago,https://www.cnbc.com/2023/07/08/us-soccer-star...
15,How to start a pet-sitting side hustle—you cou...,"July 8, 2023",https://www.cnbc.com/2023/07/08/how-to-start-a...
16,3 things to pay attention to in the markets th...,"July 8, 2023",https://www.cnbc.com/2023/07/08/3-things-to-pa...
17,These U.S. states have the best and the worst ...,"July 8, 2023",https://www.cnbc.com/2023/07/08/best-and-worst...
18,The No. 1 vitamin kids in the U.S. 'aren't get...,"July 8, 2023",https://www.cnbc.com/2023/07/08/no-1-nutrient-...
19,How the generative A.I. boom could forever cha...,"July 8, 2023",https://www.cnbc.com/2023/07/08/how-the-genera...
20,The 10 U.S. cities where rent has increased th...,"July 8, 2023",https://www.cnbc.com/2023/07/08/us-cities-wher...
21,"As 'bougie broke' videos trend, here's why exp...","July 8, 2023",https://www.cnbc.com/2023/07/08/as-bougie-brok...
22,The Fed rolls out a new economic index that co...,"July 8, 2023",https://www.cnbc.com/2023/07/08/the-fed-has-ro...
23,Active funds are powering JPMorgan's ETFs past...,"July 8, 2023",https://www.cnbc.com/2023/07/08/active-funds-a...
24,Micron and Pfizer are the most oversold S&P 50...,"July 8, 2023",https://www.cnbc.com/2023/07/08/micron-and-pfi...
25,Medicare will pay for Alzheimer's drug Leqembi...,"July 8, 2023",https://www.cnbc.com/2023/07/08/leqembi-and-me...
26,"Buy Buy Baby auction is canceled, but buyers a...","July 7, 2023",https://www.cnbc.com/2023/07/07/buy-buy-baby-a...
27,Elon Musk's Twitter sues top law firm Wachtell...,"July 7, 2023",https://www.cnbc.com/2023/07/07/elon-musks-twi...
28,Biogen falls after Alzheimer’s drug approval. ...,"July 7, 2023",https://www.cnbc.com/2023/07/07/biogen-falls-a...
29,Justin Bieber's Bored Ape NFT has lost about 9...,"July 7, 2023",https://www.cnbc.com/2023/07/07/justin-biebers...